<div class="container-fluid">
    <form class="row g-3 align-items-center bg-light w-50">
        <div class="input-group">
            <div class="input-group-text">
                <label for="login-username">Username</label>
            </div>
            <input type="text" class="form-control" id="login-username" placeholder="johndoe@example.com">
        </div>
        <div class="input-group">
            <div class="input-group-text">
                <label for="login-password">Password</label>
            </div>
            <input type="text" class="form-control" id="login-password" placeholder="*Enter Secure Password">
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </form>
    <div class="row">
        <div class="col-12">
            <h4>Don't have an account?</h4>
            <a href="/signup" class="btn btn-primary">Sign Up</a>
        </div>
    </div>
</div>