<main class="container-fluid">
  <div class="row">
    <section class="col-sm-12 col-md-4">
      <div class="container menu-form border">
        <form id="filter-form">
          {{!-- product type --}}
          <div class="product-type border-bottom mb-3 pb-3 d-md-block">
            <h3>Product Type</h3>
            <ul class="list-group">
              <li class="list-group-item">
                <label class="form-check-label" for="shirts">
                  <input class="form-check-input" type="checkbox" id="shirts" />
                  shirts
                </label>
              </li>
              <li class="list-group-item">
                <label class="form-check-label" for="jackets">
                  <input class="form-check-input" type="checkbox" id="jackets" />
                  jackets
                </label>
              </li>
              <li class="list-group-item">
                <label class="form-check-label" for="bottoms">
                  <input class="form-check-input" type="checkbox" id="bottoms" />
                  bottoms
                </label>
              </li>
              <li class="list-group-item">
                <label class="form-check-label" for="shoes">
                  <input class="form-check-input" type="checkbox" id="shoes" />
                  shoes
                </label>
              </li>
            </ul>
          </div>
          {{!-- brand name --}}
          <div class="brand border-bottom mb-3 pb-3 d-md-block">
            <h3>Brand Name</h3>
            <ul class="list-group">
              <li class="list-group-item">
                <label class="form-check-label" for="ASOSDesign">
                  <input class="form-check-input" type="checkbox" id="ASOS" />
                  ASOS Design
                </label>
              </li>
              <li class="list-group-item">
                <label class="form-check-label" for="Vans">
                  <input class="form-check-input" type="checkbox" id="Vans" />
                  Vans
                </label>
              </li>
              <li class="list-group-item">
                <label class="form-check-label" for="Nike">
                  <input class="form-check-input" type="checkbox" id="Nike" />
                  Nike
                </label>
              </li>
              <li class="list-group-item">
                <label class="form-check-label" for="Lacoste">
                  <input class="form-check-input" type="checkbox" id="Lacoste" />
                  Lacoste
                </label>
              </li>
              <li class="list-group-item">
                <label class="form-check-label" for="TedBaker">
                  <input class="form-check-input" type="checkbox" id="TedBaker" />
                  Ted Baker
                </label>
              </li>
            </ul>
          </div>
          {{!-- form submit button --}}
          <button
            type="submit"
            class="btn btn-primary mb-3 d-md-block"
            id="form-submit"
          >Submit</button>
        </form>
      </div>
    </section>
    <section class="col-sm-12 col-md-8">
      <h1>products</h1>
      {{! display products here  }}
      <div id="products"></div>
    </section>
  </div>
</main>