<main class="container-fluid">
    <div class="row">
        <section class="col-sm-12 col-md-4">
            <div class="container menu-form">
                <form>
                    <div class="gender border-bottom mb-3">
                        <h3>Gender</h3>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="men">
                            <label class="form-check-label" for="men">
                                Men
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="women">
                            <label class="form-check-label" for="women">
                                Women
                            </label>
                        </div>
                    </div>
                    <div class="product border-bottom mb-3">
                        <h3>Product Type</h3>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <input class="form-check-input" type="checkbox" id="tshirts">
                                <label class="form-check-label" for="tshirts">
                                    T-Shirts
                                </label>
                            </li>
                            <li class="list-group-item">
                                <input class="form-check-input" type="checkbox" id="tshirts">
                                <label class="form-check-label" for="tshirts">
                                    T-Shirts
                                </label>
                            </li>
                            <li class="list-group-item">
                                <input class="form-check-input" type="checkbox" id="tshirts">
                                <label class="form-check-label" for="tshirts">
                                    T-Shirts
                                </label>
                            </li>
                            <li class="list-group-item">
                                <input class="form-check-input" type="checkbox" id="tshirts">
                                <label class="form-check-label" for="tshirts">
                                    T-Shirts
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="price border-bottom mb-3"></div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </section>
        <section class="col-sm-12 col-md-8">
            <h1>products</h1>
        </section>
    </div>
</main>