* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}

a {
  text-decoration: none;
  color: white;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: white;
}

.card {
  width: min-content;
}

.imgCont {
  width: auto;
}

.textCont {
  width: 20rem;
}

.img-container {
  /* width: 100%; */
  width: 20rem;
}
.product-button:hover {
  background-color: #5900ff;
}

#products {
  display: flex;
}
